name: appserap
description: SERAp Estudantes.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.13.10

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Core
  cupertino_icons: ^1.0.2
  percent_indicator: ^4.2.2
  auto_size_text: ^3.0.0-nullsafety.0
  intl: ^0.18.1
  flutter_native_splash: ^2.2.8
  package_info_plus: ^4.1.0
  infinite_scroll_pagination: ^3.1.0
  jwt_decoder: ^2.0.1
  permission_handler: ^10.4.3
  json_annotation: ^4.8.1
  clock: ^1.1.0
  custom_radio_group_list: ^1.0.0
  native_resource: ^0.3.1
  flutter_dotenv: ^5.0.2

  # Conexão
  #cross_connectivity: ^3.0.5
  internet_connection_checker_plus: ^2.0.0
  retry: ^3.1.0

  # Render html
  flutter_html: ^3.0.0-beta.2
  flutter_html_all: ^3.0.0-beta.2
  flutter_widget_from_html: ^0.13.0-alpha.1

  # Firebase
  firebase_messaging: ^14.6.5
  firebase_core: ^2.15.0
  firebase_crashlytics: ^3.3.4

  # Http api
  chopper: ^6.0.0
  http: ^1.1.0

  # Injecao de dependencias
  get_it: ^7.6.0
  injectable: ^2.3.0

  # Banco de dados local
  shared_preferences: ^2.2.0

  # Logger
  logger: ^2.0.1

  # Mobx
  mobx: ^2.1.3
  flutter_mobx: ^2.0.6+5

  # Vizualizar imagem
  photo_view: ^0.14.0
  flutter_svg: ^2.0.7
  lottie: ^2.5.0

  # Editor de texto
  html_editor_enhanced: ^2.5.1

  # Workmanager
  # background   _fetch: ^1.0.1
  workmanager: ^0.5.1

  # Criptografia da senha da prova
  crypto: ^3.0.1
  
  # Adaptacao de tela
  flutter_screenutil: ^5.5.3+2

  # Database
  drift: ^2.10.0
  sqlite3_flutter_libs: ^0.5.17
  path_provider: ^2.0.11
  path: ^1.8.0
  supercharged: ^2.1.1
  idb_shim: ^2.0.1
  sqlite_viewer:
    git: 
      url: https://github.com/frgmt/flutter-sqlite-viewer
  external_path: ^1.0.3
  storage_inspector: ^0.3.0
  drift_local_storage_inspector: ^0.5.0
  file_local_storage_inspector: ^0.3.1

  # Informações do dispoisitivo
  device_info_plus: ^9.0.3
  android_id: ^0.3.3

  # Navegação
  url_launcher: ^6.1.2
  auto_route: ^7.4.0

  # Reprodução
  audioplayers: ^5.2.0

  # Video player
  chewie: ^1.7.0
  appinio_video_player: ^1.2.1

  # Form 
  dropdown_search: ^4.0.1

  # Atualização
  updater: ^0.2.3

  # Controle de desligamento de tela
  wakelock_plus: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

  build_runner: ^2.4.6
  chopper_generator: ^6.0.0
  mobx_codegen: ^2.1.1
  drift_dev: ^2.10.0
  json_serializable: ^6.7.1
  mockito: ^5.4.2
  auto_route_generator: ^7.1.1
  injectable_generator: ^2.4.0

dependency_overrides:
  flutter_math_fork: ^0.7.1

scripts:
  clean: flutter clean flutter pub get
  mobx: flutter pub run build_runner build
  mobx-dco: flutter pub run build_runner build --delete-conflicting-outputs
  mobx-w: flutter pub run build_runner watch --delete-conflicting-outputs
  mobx-c: flutter pub run build_runner clean
  release: flutter build apk --release
  release-web: flutter build web --release
  build-web: flutter build web --profile

flutter_native_splash:
  color: "#ffffff"
  image: assets/images/logo-serap.png

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - fonts/
    - .env
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages


  fonts:
    - family: Poppins
      fonts:
        - asset: fonts/Poppins-Regular.ttf
        - asset: fonts/Poppins-ExtraLight.ttf
          weight: 100
        - asset: fonts/Poppins-Thin.ttf
          weight: 200
        - asset: fonts/Poppins-Light.ttf
          weight: 300          
        - asset: fonts/Poppins-Medium.ttf          
          weight: 500
        - asset: fonts/Poppins-SemiBold.ttf          
          weight: 600
        - asset: fonts/Poppins-Bold.ttf
          weight: 700
        - asset: fonts/Poppins-Black.ttf
          weight: 800
        - asset: fonts/Poppins-ExtraBold.ttf
          weight: 900   
          
    - family: OpenDyslexic
      fonts:
        - asset: fonts/OpenDyslexic-Regular.ttf 
        - asset: fonts/OpenDyslexic-Bold.ttf
          weight: 700
        
